/* CSS files add styling rules to your content */

.page-content {
  padding: 16px;
}

#map {
  height: 300px
}

.mdl-button {
  margin-top:4px;
}

.saved-article.mdl-list__item-primary-content {
  cursor: pointer;
  text-decoration: underline;
}
